.container {
    display: flex;
    padding-right: 20px;
    margin-top: 20px;
}

#color-box{
    width: 100px;
    height: 100px;
    background-color: default;
}

#change-color-btn{
    color: #333;
    background-color: solid red;
}